.mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
    background-color: #7d7e7c !important;
    margin-top: 10px !important;
    height: 0px;
    border-radius: 5px;
  }

.mejs-time-current {
    background: #dece66 !important;
}

.mejs-horizontal-volume-current {
  background: #dece66 !important;
}

